@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --radius-5: 5px;
  --radius-10: 10px;
  --radius-20: 20px;
  --radius-30: 30px;
  --radius-50: 50px;

  --breakpoint-laptop: 1024px;
  --breakpoint-tablet: 768px;
  --breakpoint-mobile: 480px;

  /* below is installed by shadcn */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* Custom Theme Colors */
  --color-dark-bg: #242c3b;
  --color-dark-card: #353f54;
  --color-dark-card-secondary: #222834;
  --color-blue-primary: #34c8e8;
  --color-blue-secondary: #4e4af2;
  --color-blue-tertiary: #3ca4eb;
  --color-gradient-blue: #37b6e9;
  --color-gradient-purple: #4b4ced;

  /* Glass Overlays */
  --color-glass-dark: rgba(54, 62, 81, 0.6);
  --color-glass-darker: rgba(25, 30, 38, 0.6);
  --color-glass-blue: rgba(16, 20, 28, 0.6);

  /* Overlay + UI */
  --color-status-overlay: rgba(43, 52, 69, 0.5);
  --color-text-secondary: rgba(255, 255, 255, 0.6);

  /* Background Gradients */
  /* --gradient-primary: linear-gradient(153deg, #34c8e8 1.7%, #4e4af2 114.52%);
  --gradient-bg: linear-gradient(170deg, #37b6e9 0%, #4b4ced 100%);
  --gradient-card: linear-gradient(170deg, #353f54 27.98%, #222834 81.2%);
  --gradient-glass: linear-gradient(
    167deg,
    rgba(54, 62, 81, 0.6) 25.94%,
    rgba(25, 30, 38, 0.6) 68.26%
  ); */
  /* --gradient-navbar: linear-gradient(
    180deg,
    #363e51 -4.83%,
    #181c24 116.91%
  ); */

  /* Box Shadows */
  --shadow-card:
    0px 20px 60px rgba(16, 20, 28, 0.6), 0px -20px 40px rgba(43, 52, 69, 0.5);
  --shadow-button: 0px -20px 30px rgba(43, 52, 69, 0.5), 0px 20px 30px #10141c;
  --shadow-glass: 0px 30px 100px rgba(82, 108, 143, 1);
  --shadow-fab: 0px 20px 30px rgba(16, 20, 28, 0.6);
  --shadow-pushed:
    -4px -4px 8px 0px #364055 inset, 4px 4px 8px 0px #202633 inset;
  --shadow-popped: -4px -4px 10px 0px #38445a, 4px 4px 10px 0px #252b39;
}

.bg-gradient-primary {
  background: linear-gradient(153deg, #34c8e8 1.7%, #4e4af2 114.52%);
}
.bg-gradient-bg {
  background: linear-gradient(170deg, #37b6e9 0%, #4b4ced 100%);
}
.bg-gradient-card {
  background: linear-gradient(170deg, #353f54 27.98%, #222834 81.2%);
}
.bg-gradient-glass {
  background: linear-gradient(
    167deg,
    rgba(54, 62, 81, 0.6) 25.94%,
    rgba(25, 30, 38, 0.6) 68.26%
  );
}
.bg-gradient-navbar {
  background: linear-gradient(180deg, #363e51 -4.83%, #181c24 116.91%);
}

/* below is installed by shadcn, START */
:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    /* font-family: "Quicksand", sans-serif; */
    font-family: "Tektur", sans-serif;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* below is installed by shadcn, END */

* {
  /* font-family: "Ubuntu", sans-serif; */
}
html,
body {
  @apply m-0 scroll-smooth p-0;
}
/* ::selection {
  background: var(--color-blacki);
  color: var(--color-star);
} */

.snap-x-items-list {
  @apply snap-x snap-mandatory overflow-x-auto scroll-smooth;
  -webkit-overflow-scrolling: touch;
}
.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll::-webkit-scrollbar {
  display: none;
}
.flex-center {
  @apply flex items-center justify-center;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  font-family: "Poppins", sans-serif;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.strikethrough {
  position: relative;
}
.strikethrough-2h:before {
  border-top: 2px solid red !important;
}
.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid red;
}

input {
  outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Optional: Remove the increment and decrement arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

input:autofill {
  color: white;
}

input:-webkit-autofill {
  color: white;
}

.time-card {
  clip-path: polygon(0 0, 80% 0%, 100% 20%, 100% 100%, 20% 100%, 0% 80%);
}
.dots-timer .dot.active {
  @apply w-12;
}
.dots-timer .dot.finished {
  @apply bg-blue-tertiary;
}
/* .dots-timer .dot.active::after {
  content: "";
  @apply absolute z-[1] h-full w-1/2 animate-pulse bg-slate-800;
}

.dots-timer .dot.active.paused::after {
  @apply animate-none;
} */
